/* ******************************** */


/* ******************************** */


/* BODY */


/* ******************************** */


/* ******************************** */


/* ******************************** */

a {
    text-decoration: none;
    color: $color-black;
    display: inline;
}

body {
    height: 100vh;
}