/* ******************************** */


/* ******************************** */


/* NAV */


/* ******************************** */


/* ******************************** */


/* ******************************** */

.header__nav {
    display: none;
}

@include mediaQuery(escritorio) {
    .header__nav {
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: $fs_header;
    }
}