/* ******************************** */


/* ******************************** */


/* NAV */


/* ******************************** */


/* ******************************** */


/* ******************************** */

.header__nav {
    display: none;
}

@include mediaQuery(escritorio) {
    .header__nav {
        display: flex;
        justify-content: space-between;
    }
    .nav__inicio .nav__productos {
        align-self: flex-start;
    }
    .nav__quienessomos .nav__contactar {
        align-self: flex-end;
    }
}