/* ******************************** */


/* ******************************** */


/* SECTION02*/


/* ******************************** */


/* ******************************** */


/* ******************************** */

.main__bloque02 {
    position: absolute;
    top: 104%;
    background-color: $color-white;
    opacity: 0.65;
}

@include mediaQuery(ipad) {
    .main__bloque02 {
        grid-row: 2/3;
        grid-column: 2/3;
    }
}