/* ******************************** */


/* ******************************** */


/* SECTION01*/


/* ******************************** */


/* ******************************** */


/* ******************************** */

.main__bloque01 {
    position: absolute;
    top: 53%;
    background-color: $color-white;
    opacity: 0.65;
}

@include mediaQuery(ipad) {
    .main__bloque01 {
        grid-row: 1/2;
        grid-column: 2/3;
    }
}