@charset "UTF-8";
/* ******************************** */
/* ******************************** */
/* FUNCIONES */
/* ******************************** */
/* ******************************** */
/* ******************************** */
/* ******************************** */
/* ******************************** */
/* VARIABLES */
/* ******************************** */
/* ******************************** */
/* ******************************** */
/* ******************************** */
/* ******************************** */
/* MIXINS */
/* ******************************** */
/* ******************************** */
/* ******************************** */
/* ******************************** */
/* ******************************** */
/* TIPOGRAFIA */
/* ******************************** */
/* ******************************** */
/* ******************************** */
@font-face {
  font-family: "Roboto";
  src: url("font/Roboto-Regular-webfont.woff") format("woff2"), url("font/Roboto-Regular-webfont.woff") format("woff");
}
html {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

/* ******************************** */
/* ******************************** */
/* BOTONES */
/* ******************************** */
/* ******************************** */
/* ******************************** */
/* ******************************** */
/* ******************************** */
/* BODY */
/* ******************************** */
/* ******************************** */
/* ******************************** */
a {
  text-decoration: none;
  color: #000000;
  display: inline;
}

body {
  height: 100vh;
}

/* ******************************** */
/* ******************************** */
/* HEADER */
/* ******************************** */
/* ******************************** */
/* ******************************** */
.header {
  height: 3.125rem;
  padding: 0.828125rem 1.22625rem;
  background-color: #c4c4c4;
}

@media (min-device-width: 320px) and (max-device-width: calc(320px + 100px)) and (orientation: landscape) {
  #capaBloqueo {
    display: flex;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rba(0, 0, 0, 0.3);
    z-index: 999;
    justify-content: center;
    align-items: center;
  }
  #capaBloqueo::before {
    content: "PONGA EL MÓVIL EN VERTICAL";
    color: #fff;
  }
}
@media (min-device-width: 768px) and (max-device-width: calc(768px + 100px)) and (orientation: portrait) {
  .header {
    height: 3.75rem;
    padding: 1.203125rem 1.35125rem;
  }
}
@media (min-device-width: 320px) and (max-device-width: calc(320px + 100px)) and (orientation: landscape) {
  #capaBloqueo {
    display: flex;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rba(0, 0, 0, 0.3);
    z-index: 999;
    justify-content: center;
    align-items: center;
  }
  #capaBloqueo::before {
    content: "PONGA EL MÓVIL EN VERTICAL";
    color: #fff;
  }
}
@media (min-width: 1366px) {
  .header {
    height: 5rem;
  }

  .header__menu {
    display: none;
  }
}
/* ******************************** */
/* ******************************** */
/* SECTION */
/* ******************************** */
/* ******************************** */
/* ******************************** */
/* ******************************** */
/* ******************************** */
/* NAV */
/* ******************************** */
/* ******************************** */
/* ******************************** */
.header__nav {
  display: none;
}

@media (min-device-width: 320px) and (max-device-width: calc(320px + 100px)) and (orientation: landscape) {
  #capaBloqueo {
    display: flex;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rba(0, 0, 0, 0.3);
    z-index: 999;
    justify-content: center;
    align-items: center;
  }
  #capaBloqueo::before {
    content: "PONGA EL MÓVIL EN VERTICAL";
    color: #fff;
  }
}
@media (min-width: 1366px) {
  .header__nav {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.125rem;
  }
}
/* ******************************** */
/* ******************************** */
/* INDEX */
/* ******************************** */
/* ******************************** */
/* ******************************** */
/*# sourceMappingURL=main.css.map */