picture.main__pic01 
    img(src="assets/img/desktop/pic1.jpg", alt="pic01")
img.triangle01(src="assets/svg/triangle.svg", alt="triangle")
picture.main__pic02
    img(src="assets/img/desktop/pic2.jpg", alt="pic02")
section.main__bloque01
    h5.bloque01__title Ana Perez &#38; Superman
    p.bloque01__text “Superman” vive con su dueña desde hace 3 años. Pastor alemán.

picture.main__pic03 
    img(src="assets/img/desktop/pic3.jpg", alt="pic03")
img.triangle02(src="assets/svg/triangle.svg", alt="triangle")
picture.main__pic04 
    img(src="assets/img/desktop/pic4.jpg", alt="pic04")
section.main__bloque02
    h5.bloque02__title David Socias &#38; “Gatito”
    p.bloque02__text “Gatito” vive con su dueño desde hace 2 meses. Toyger.