picture.main__pic01 
    img(src="assets/img/desktop/pic1.jpg", alt="pic01")
picture.main__pic02 
    img(src="assets/img/desktop/pic2.jpg", alt="pic02")
picture.main__pic03 
    img(src="assets/img/desktop/pic3.jpg", alt="pic03")
picture.main__pic04 
    img(src="assets/img/desktop/pic4.jpg", alt="pic04")