/* ******************************** */


/* ******************************** */


/* TIPOGRAFIA */


/* ******************************** */


/* ******************************** */


/* ******************************** */

// Font-face para cargar ROBOTO
@font-face {
    font-family: "Roboto";
    src: url("font/Roboto-Regular-webfont.woff") format("woff2"), url("font/Roboto-Regular-webfont.woff") format("woff");
}

// Tipografía Base
$font_fz-base: convertir(16);
$font: 'Roboto',
'Arial';
html {
    font-size: $font_fz-base;
    font-family: nth($font, 1), sans-serif;
    font-style: normal;
}