/* ******************************** */


/* ******************************** */


/* VARIABLES */


/* ******************************** */


/* ******************************** */


/* ******************************** */

//Variables para los mediaQueries
$breakpoint-small: '320px';
$breakpoint-medium: '768px';
$breakpoint-large: '1366px';
// Colores
$color-grey: #c4c4c4;
$color-black: #000000;
//Tamaños
$header_mobile: convertir(50);
$header_tablet: convertir(60);
$header_desktop: convertir(80);
// Tamaños tipos
$fs_header: convertir(18);